* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 100vh;
  background-image: url("../../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header:before {
  content: "";
  width: 100%;
  background-color: #2a2e2d;
  opacity: 0.7;
  height: 100vh;
  position: absolute;
}

.header__navegacion {
  background-color: #2a2e2d;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .header__navegacion {
    padding: 20px;
  }
}

.header__titulo {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ffff;
  font-size: 40px;
  font-family: helvetica;
}

.header__titulo span {
  font-size: 60px;
}

.header a {
  text-decoration: none;
  color: #ffff;
  font-size: 23px;
}

.navegacion__desktop {
  display: flex;
  list-style: none;
}

.navegacion__desktop li {
  margin: 0px 20px;
}

@media only screen and (max-width: 500px) {
  .navegacion__desktop {
    display: none;
  }
}

.navegacion__mobile {
  display: none;
}

.navegacion__mobile img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 500px) {
  .navegacion__mobile {
    display: block;
  }
}

.seccion-uno {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 400px;
  padding: 50px 0px;
}

@media only screen and (max-width: 500px) {
  .seccion-uno {
    height: 600px;
    flex-direction: column;
    align-items: center;
  }
}

.seccion-uno .seccion-uno__imagen {
  width: 30%;
}

.seccion-uno .seccion-uno__imagen img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .seccion-uno .seccion-uno__imagen img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .seccion-uno .seccion-uno__imagen {
    width: 100%;
    text-align: center;
  }
}

.seccion-uno .seccion-uno__parrafo {
  width: 30%;
  font-family: cursive;
}

.seccion-uno .seccion-uno__parrafo h2 {
  font-size: 50px;
}

.seccion-uno .seccion-uno__parrafo p {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .seccion-uno .seccion-uno__parrafo {
    width: 80%;
  }
  .seccion-uno .seccion-uno__parrafo h2 {
    font-size: 30px;
  }
  .seccion-uno .seccion-uno__parrafo p {
    font-size: 20px;
  }
}

.seccion-dos {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 400px;
  padding: 50px 0px;
}

@media only screen and (max-width: 500px) {
  .seccion-dos {
    height: 600px;
    flex-direction: column;
    align-items: center;
  }
}

.seccion-dos .seccion-dos__imagen {
  width: 30%;
}

.seccion-dos .seccion-dos__imagen img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .seccion-dos .seccion-dos__imagen img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .seccion-dos .seccion-dos__imagen {
    width: 100%;
    text-align: center;
  }
}

.seccion-dos .seccion-dos__parrafo {
  width: 30%;
  font-family: cursive;
}

.seccion-dos .seccion-dos__parrafo h2 {
  font-size: 50px;
}

.seccion-dos .seccion-dos__parrafo p {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .seccion-dos .seccion-dos__parrafo {
    width: 80%;
  }
  .seccion-dos .seccion-dos__parrafo h2 {
    font-size: 30px;
  }
  .seccion-dos .seccion-dos__parrafo p {
    font-size: 20px;
  }
}

.seccion-tres {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 400px;
  padding: 50px 0px;
}

@media only screen and (max-width: 500px) {
  .seccion-tres {
    height: 600px;
    flex-direction: column;
    align-items: center;
  }
}

.seccion-tres .seccion-tres__imagen {
  width: 30%;
}

.seccion-tres .seccion-tres__imagen img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .seccion-tres .seccion-tres__imagen img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .seccion-tres .seccion-tres__imagen {
    width: 100%;
    text-align: center;
  }
}

.seccion-tres .seccion-tres__parrafo {
  width: 30%;
  font-family: cursive;
}

.seccion-tres .seccion-tres__parrafo h2 {
  font-size: 50px;
}

.seccion-tres .seccion-tres__parrafo p {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .seccion-tres .seccion-tres__parrafo {
    width: 80%;
  }
  .seccion-tres .seccion-tres__parrafo h2 {
    font-size: 30px;
  }
  .seccion-tres .seccion-tres__parrafo p {
    font-size: 20px;
  }
}

.footer {
  color: #ffff;
  font-size: 20px;
  background-color: #2a2e2d;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .footer {
    font-size: 15px;
  }
}
