.header {
  background-image: url(../../assets/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.header:before {
  content: " ";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

.header__navegacion {
  background-color: gray;
}

.header .menu-mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .header .menu-mobile {
    display: block;
  }
}
