.header {
  color: white;
  background-image: url(../../assets/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }
  .header:before {
    content: " ";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.3; }
  .header__navegacion {
    background-color: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .header__navegacion .logo a {
      color: white; }
    .header__navegacion .menu-Desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header__navegacion .menu-Desktop li {
        list-style: none;
        margin-left: 35px; }
        .header__navegacion .menu-Desktop li a {
          color: white; }
  .header .titulo {
    text-align: center; }
    .header .titulo h1 {
      font-size: 100px; }
      .header .titulo h1 span {
        font-size: 50px; }
  .header .menu-mobile {
    display: none; }
    @media only screen and (max-width: 450px) {
      .header .menu-mobile {
        display: block; } }
